#footer
  .container
    small by 
      a(href='http://elmnts.co') elmnts.co 
    .pull-right
      span made using&nbsp;&nbsp;
      a(href='https://nodejs.org/en/about/')
        img(src='/images/nodejs.png').builton#node
      span &nbsp;and&nbsp;&nbsp;
      a(href='https://cloud.google.com/compute/')
        img(src='/images/googlecloud.png').builton#google
