#footer
  .container
    span
      small by
        a(href='http://elmnts.co') &nbsp;elmnts.co
    span
      span &nbsp;&nbsp;&nbsp;&nbsp;
      a(href='https://github.com/Elements-/files.elmnts.co')
        i.fa.fa-github.fa-5
    .pull-right
      span powered by&nbsp;&nbsp;
      a(href='https://nodejs.org/en/about/')
        img(src='/images/nodejs.png').builton#node
      span &nbsp;and&nbsp;&nbsp;
      a(href='https://cloud.google.com/compute/')
        img(src='/images/googlecloud.png').builton#google
