doctype html
html
  head
    title files.elmnts.co
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/newstyle.css')
    link(rel='stylesheet', href='/stylesheets/animations.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/javascripts/dropzone.js')
    script(type='text/javascript', src='/javascripts/ZeroClipboard.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    link(rel='prefetch', href='http://short.elmnts.co/html/3wii19g')
  body
      #navbar
        .container
          .row
            .col-xs-6
              #title files.elmnts.co
              .row
                .col-xs-1
                  .circle
                    i.fa.fa-info.icon
                .col-xs-11
                  #infoText File sharing made easy with direct download links, up to 1Gb/s speeds, and 100% uptime. Files are encrypted using AES256, keys stored in the download URL to keep files on our servers encrypted on the disk.
              .divider
              .row
                .col-xs-6
                  small Max upload size is 256MB.
                .col-xs-6
                  small.pull-right UNIX CLI Information
            .col-xs-3
              .deleteFileBox
                p#deleteFileText DELETE FILE AFTER FIRST DOWNLOAD
                .onoffswitch
                  input#myonoffswitch.onoffswitch-checkbox(type='checkbox', name='onoffswitch')
                  label.onoffswitch-label(for='myonoffswitch')
                    span.onoffswitch-inner
                    span.onoffswitch-switch
            .col-xs-3
              .statBox.downloads
                .row
                  .col-xs-8
                    .statTitle
                      i.fa.fa-download.icon
                      | &nbsp;&nbsp;DOWNLOADS
                  .col-xs-4
                    .stat 50,243
                    .stat 134GB
              .statBox.uploads
                .row
                  .col-xs-8
                    .statTitle
                      i.fa.fa-upload.icon
                      | &nbsp;&nbsp;UPLOADS
                  .col-xs-4
                    .stat 5,144
                    .stat 6.3GB
      #content
        .container
          #dragdropbox
            center
              i.fa.fa-cloud-upload#dragdropicon
              #dragdroptext Drop files here to upload
      footer.footer
        .container
          .row
            .col-xs-4
              img.footerlogo(src='http://files.elmnts.co/dl/kk9z30vsra4i/elementstechlogosmall.png')
              small.footerlabel &nbsp;&nbsp;ELMNTS.CO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              i.fa.fa-github.footerlogo
              small.footerlabel &nbsp;&nbsp;GITHUB
            .col-xs-2.col-xs-offset-6
              small.footerlabel PRIVACY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              small.footerlabel CONTACT
